h1{
    background: rgb(90, 90, 90);   /*背景色*/
    color: white;
    width: 300px;                    /*指示佔據 300px寬度,刪除就會滿版狀態*/
    height: 30px;                    /*增加行高*/
    display: inline;                /*變成行內元素,欄位顯示*/
}
a{                              /*集體下達CSS樣式*/
    background: blue; 
    color: white;  
    display: block;             /*變成區塊元素,按鈕的模式*/
    width: 50px;
    height: 50px; 
}

.red{
    color: red;
    font-size: 30px;
}

.btn{
    color: wheat;
    background: blue;
    display: block;
    width: 100px;
    height: 100px;
}

/*
p,li,a{                              集體下達CSS樣式
    background: blue; 
    color: white;  
}
    */

