*,*:before,*:after{                  /*全部指定並鎖定大小，不位移*/
    box-sizing: border-box;
}

.DIVmargin{                          /*父系框架*/
    width: 1200px;                   /*寬度1200px*/
    height: 2000px;                  /*高度2000*/
    margin: auto;                    /*水平置中*/
    box-sizing:content-box;          /*直接指定並鎖定大小，不位移*/

}

.header{
    border:2px solid black;
    padding-top:20px;                /*padding向內上推和下推留白20px*/
    padding-bottom:20px;
}

.header img{                         /* 圖片限定在300px*/
    width: 300px;
}

.box{
    margin-left: 20px;
    padding-left: 20px;
    box-sizing:content-box;          /*直接指定並鎖定大小，不位移*/
}


.content{
    border: 5px solid rgb(255, 0, 0);
    text-align: center;                 /*文字對齊置中*/
    padding: 20px;;
    text-align: left;                   /*文字對齊靠左*/
    height:15%;                         /*框架高度15%*/
}

.content p{
    padding-bottom:20px;                /*bottom 往下留白*/
}

.btn {
    width:100px;
    color:white;                      /*連結文字的顏色*/
    text-decoration: none;              /*連結文字加上底線*/
    font-weight: bold;                  /*字形粗體化*/
    background-color: blue;
    text-align:center;                  /*文字對齊置中        */
    padding: 10px 40px;                 /*留白 依序為 上右下左 */
}

.btn a{
    width: 140px;
    text-align:center;                  /*文字對齊置中*/ 
    display: inline-block;              /*水平排列，沒打就直式排列*/
}

.footer{
    text-align: center;                 /*文字置中*/
    text-align: auto;                   /*文字自動對齊*/
    padding-top:30px ;                  /*padding向內上推和下推留白30px*/
    padding-bottom: 30px;
    background: rgb(255, 170, 170);
}