*,*:before,*:after{                         /* 全部指定並鎖定大小，不位移 */
    box-sizing: border-box;
}

.wrap{
    margin: 0 auto;                         /* 網頁置中 */
    max-width: 1024px;
}

.header{
    margin-bottom: 30px;                    /* 向下(外)推30px */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Menu {
                                            /*  Menu 作為第二個項目顯示，使其在 Logo 右邊 */
    order: 2;
}

.Menu li {
    width: 80px;
    text-align: center;
}

.Menu ul{
    display: flex;
    justify-content: flex-end;              /* 選單項目靠右對齊 (在 Menu 容器內部) */
}

.Menu ul a{
    background: gray;
    color: #fff;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Menu li a:hover{
    background: blue;                     /*點到變色*/
}

.logo {
    order: 1;                               /* Logo 作為第一個項目顯示，使其在 Menu 左邊 */
    border: 1px solid black;              /* 保持原有的邊框 */
}

.content{
    margin-bottom: 20px;                     /* 向下(外)推20px */
}

.Hamster{
    max-width: 100%;                         /* 限制元素最大不能超過父容器的寬度 */
    height: auto;
    margin: 0 auto;                          /* 圖片置中 */
    display: block;                          /* 圖片需要置中時，寫入比較能生效 */
    flex-basis: 100%;                        /*  Hamster 佔用 100% 的可用空間，強制換行 */
    order: 3;                                /* 確保 Hamster 在 Logo 和 Menu 之後顯示在下一行 */
}

.course{
    display: flex;                           /* 橫式排列，沒有就是直式排列，並且縮減是直式縮減 */
    justify-content: space-around;           /* 框架內中間大兩邊小的對齊方式，由左至右排列 */
}

.course-item{
    border-bottom: 3px solid rgb(145, 145, 145);
    border-left: 1px solid rgb(145, 145, 145);
    border-right: 1px solid rgb(145, 145, 145);
    border-top: 1px solid rgb(145, 145, 145);;
    width: 300px;
}
.course-item h2{
    text-align: center;                      /* 文字置中 */
    font-size: 25px;
}

.footer{
    background:gray;
    color: #fff;
    text-align: center;
    padding: 10px 10px;                      /* 另一種寫法 */
}