/*
標籤選擇器
擬態選擇器 a:hover a:active
類別選擇器 
*/

h1{
    color: blue;    
    font-size: 50px;
    border: 5px solid blue; /*border 線條粗細,border-left 只顯示左邊的框限,border-bottom 只顯示下面的框限,solid 實線線條,dashed 虛線線條,dotted 圓點虛線 */
}

h1:hover{             /* 點到後自動變色*/ 
    color: #ff00ea;
    font-size: 50px;
}

p{
    font-family: Verdana;                 /*調整文字間距*/
    font-size: 22px;                      /* 字體大小*/
    line-height: 1.5;                     /* 行高*/
    text-align: left;                     /*靠左對其*/
    text-indent: 32px;                    /*開頭空兩格的大小*/
    letter-spacing: 2px;                  /*字和字的距離*/
    text-decoration: line-through;        /*line-through字體中線，ubderkube字體底線*/

}

a:hover{              /* 點到後自動變色*/ 
    color: rgb(0, 255, 128);
    font-size: 20px;

}

h1:active{            /* 點著不放變色*/ 
    color: #00f7ff;
    font-size: 50px;
}

img{
    border: 6px solid black; /*圖片增加框線*/
 
}

.Style01{             /* 命名變色*/ 
    color: red;    
    font-size: 40px;
}

.Style02{              /* 命名變色*/
    color: #ff5e00;
    font-size: 40px;
}
.google{               /* 命名變色*/
    color: #001aff;
    font-size: 25px;
}

.Style03{
    color: #007910;
    font-size: 35px;
    
}

a{
    color: rgb(0, 0, 0);
    font-size: 20px;
}


