p{
    text-indent: 50px; 
    font-size: 25px;
    line-height: 1.2;  
    font-weight: bold;

}

h2{
    font-size: 50px;
    color: blue;
    font-weight: 800px;
    font-weight: bold;
}

a:hover{                /* 點到後自動變色*/ 
    color: #ff0000;
}
    

h1{
    color: black;
    font-size: 40px;
    font-weight: bold;
    border-left: 8px solid red;
    border-bottom: 15px solid red;
}

ol{
     font-size: 20px;
     line-height: 1.2;  
     font-weight: bold;
}

li{
     font-size: 20px;
     line-height: 1.2;  
     font-weight: bold;
}

.Styletext{
    text-decoration: line-through; 
}


img{
     border: 20px solid rgb(139, 139, 139);
}