.category .active {
    color: var(--primary-400);                  /*自訂變數，(neutral-400)例如從 100 到 900，數字越大通常越深或越飽和*/
}  

.page-item .btn {
    padding: 8px 15px;                          /*向上下(數值1)和左右(數值2)(內)推8px 和 15px*/
    border-radius:0;                            /*框架圓角數值，目前設定是0*/
    font-weight: 400;                           /*粗體400，數值越大越粗*/
}

.page-item .active {
    background-color: var(--primary-300);        /*背景顏色自訂變數，(neutral-300)例如從 100 到 900，數字越大通常越深或越飽和*/
    font-weight: 500;                            /*粗體500，數值越大越粗*/
}

.footer{
    background: var(--neutral-100);              /*背景顏色自訂變數，(neutral-100)例如從 100 到 900，數字越大通常越深或越飽和*/
    padding-top: 64px;                           /*向上(內)推64px*/
    padding-bottom: 64px;                        /*向上(下)推64px*/
}

.section-lined {
    border-top: 1px solid var(--neutral-300);    /*框架的線條+實線+自訂框架變數顏色，(neutral-300)例如從 100 到 900，數字越大通常越深或越飽和*/   
}

.footer-note{
    font-size: 14px;
    font-weight: 400;                             /*粗體400，數值越大越粗*/
    text-align: center;
    color: var(--neutral-600);                    /*文字顏色自訂變數，(neutral-600)例如從 100 到 900，數字越大通常越深或越飽和*/     
    padding-top: 32px;                            /*向上(內)推32px*/
}